
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Officecode</th>
            <td><%= record.officecode %></td>
        </tr>
        <tr>
            <th>City</th>
            <td><%= record.city %></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><%= record.phone %></td>
        </tr>
        <tr>
            <th>Addressline1</th>
            <td><%= record.addressline1 %></td>
        </tr>
        <tr>
            <th>Addressline2</th>
            <td><%= record.addressline2 %></td>
        </tr>
        <tr>
            <th>State</th>
            <td><%= record.state %></td>
        </tr>
        <tr>
            <th>Country</th>
            <td><%= record.country %></td>
        </tr>
        <tr>
            <th>Postalcode</th>
            <td><%= record.postalcode %></td>
        </tr>
        <tr>
            <th>Territory</th>
            <td><%= record.territory %></td>
        </tr>
    </tbody>
</table>
