
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Ordernumber</th>
            <td><%= record.ordernumber %></td>
        </tr>
        <tr>
            <th>Productcode</th>
            <td><%= record.productcode %></td>
        </tr>
        <tr>
            <th>Quantityordered</th>
            <td><%= record.quantityordered %></td>
        </tr>
        <tr>
            <th>Priceeach</th>
            <td><%= record.priceeach %></td>
        </tr>
        <tr>
            <th>Orderlinenumber</th>
            <td><%= record.orderlinenumber %></td>
        </tr>
    </tbody>
</table>
