
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Productcode</th>
            <td><%= record.productcode %></td>
        </tr>
        <tr>
            <th>Productname</th>
            <td><%= record.productname %></td>
        </tr>
        <tr>
            <th>Productline</th>
            <td><%= record.productline %></td>
        </tr>
        <tr>
            <th>Productscale</th>
            <td><%= record.productscale %></td>
        </tr>
        <tr>
            <th>Productvendor</th>
            <td><%= record.productvendor %></td>
        </tr>
        <tr>
            <th>Productdescription</th>
            <td><%= record.productdescription %></td>
        </tr>
        <tr>
            <th>Quantityinstock</th>
            <td><%= record.quantityinstock %></td>
        </tr>
        <tr>
            <th>Buyprice</th>
            <td><%= record.buyprice %></td>
        </tr>
        <tr>
            <th>Msrp</th>
            <td><%= record.msrp %></td>
        </tr>
    </tbody>
</table>
